extends ./base.pug

block title
    title Main

block body
    .container
        .row.row_no-gutters
            .col-xs-4
                h3 Transliteration
                input(type='text' id='test-inp' class='url')
            .col-xs-4
                h3 Url validate
                input(type='text' class='kc-url-field')

